@import './../_base/_variables';


.root {
  width: 100%;
  height: 100%;


  .headerImage{
    //height: 156px;
  }

  // .Charities_Initial_DT {
  //   width: 1440px;
  //   height: 1173px;
  //   background-color: #f6f6f6;
  // }

  .Featured_Charities_N {
    width: 352px;
    height: 26px;
    margin: 0 107px 6px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: -0.45px;
    color: #1e5174;
  }


  //display: flex;
  //justify-content: space-between;

  .favorites{
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    border-radius: 10px;
    cursor: pointer;
    margin:0 0 15px  0;
    font-size: 18px;
    align-items:center;
    padding:10px;
    display:inline-block;

  .favorites_toggle{
    text-align:right;
  }

    .favorites_counter{
      font-size: 22px;
      text-align:left;


    }
    
  }

  .side { 
    width: 40%;
    height: 100%;
    border-right: 1px solid #F6F7F8;
  }

  .arch {
   // border-bottom: 1px solid #F6F7F8;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      width: calc(100% - 30px);
    }
  }

  .results {

    width : 100%;
    margin-top:8px;

    height: calc(100% - 90px);
    overflow-y: auto;


    .charityWrapper{
      border-radius: 3px;
      box-shadow: 0 7px 7px 0 rgb(0 0 0 / 7%);
      background-color: #fff;
    }


    .item {
      height:100%;
      //width: 99%;
      //border-bottom: 2px solid #C71C50;
      font-size: 22px;
      font-weight: 500;
      color: $primary-red;
      padding: 10px;
      //cursor: pointer;
      transition: .3s ease all;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 3px;
      box-shadow: 0 1px 20px 2px rgb(0 0 0 / 7%);
      background-color: #fff;
      margin:3px 0px;
      border: 1px solid lightgray;

      .info {
        width: calc(100% - 6px);

        .header {
          //white-space: nowrap;
          //overflow: hidden;
          cursor:pointer;
          text-overflow: ellipsis;
          width: calc(100% - 30px);
          display: inline-block;
          font-size: 18px;
        }

        .headerSmall {
          font-size: 12px;
          cursor:pointer;
         
        }
      }

      .favoriteIcon{
          position: relative;
      top: -50px;
      right: -25px;
      }

      .icon {
        width: 30px;
        text-align: center;
        font-size: 28px;
        color: rgba(0, 0, 0, 0.1);
      }

      p {
        font-size: 13px;
        color: $primary-purple;
        margin-top: 5px;
      }

      &:hover {
        //background: $neutral-light;
      }
    }
  }

  .content {
    width: 60%;
    height: 100%;
    overflow-y: auto;
    background: white;

    .data {

      .header, .description, .grant {
        padding: 25px;
        border-bottom: 1px solid #F6F7F8;
      }

      .header {
        background: $primary-purple-dark;
        color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
          width: 90%;
        }

        .right {
          text-align: right;
        }
      }

      .flex {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #F6F7F8;

        .block {
          width: 50%;
          font-size: 13px;
          padding: 25px;
          text-transform: uppercase;

          .heading {
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 500;
            color: $primary-red;
          }

          &:first-child {
            border-right: 1px solid #F6F7F8;
          }
        }
      }

      h3 {
        margin: 0;
      }
    }
  }

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .content {
      display: block;
      text-align: center;
      max-width: 250px;
      opacity: 0.4;
      padding: 25px;
      height: 300px;
    }
  }

    // .search>div:first-child{
    //   border: 1px solid #D4D5DE;
    // border-radius: 0;
    // }

    .search>div:first-child>div{
      border: 1px solid #bfc0c9;
       border-radius: 0;
       width: 98%;
    }
  .search {

   

    
    
      .charitiesInput{
        border-radius: 0px;
        //border: 1px solid #bfc0c9;

       border-left:0;
    
        text-align: left;
        
  
      }

    .inputBorder{
      
      //border: solid 1px #d9d9d9;
      border-right:0;

    }

   
    .charitiesInput::placeholder{
      text-align: left;
    }
  }


  .charitiesRow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;

    
  }
  .charitiesCol {
    display: flex;
    flex-direction: column;
  }

  .fundraiserCol{
    background:blue !important
  }



}






@media (min-width: 767.98px) {
  .advanceIcon {
     display: none;
  } 
}


