@import './../_base/_variables';

.root {
  margin: 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;

  &.noMargin {
    margin: 0;
  }

  @include for-phone-only () {
    font-size: 24px !important;
  }

  .extra {
    width: 25%;
    text-align: right;
  }

  .title {
    width: 100%;

    &.withExtra {
      width: 75%;
    }
  }

  &.theme-secondary {
    color: $primary-purple;
  }

  &.theme-primary {
    color: $primary-red;
  }
}
